<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1, user-scalable=no, minimal-ui">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>utax-me</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.8.95/css/materialdesignicons.css">
  <!--     Fonts and icons     -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

  <script type="text/javascript" src="https://cdn.conekta.io/js/latest/conekta.js"></script>

<script type="text/javascript" >
 
  //window.onpopstate = function (e) { window.history.forward(1); }
</script>
</head>

<body onLoad="reasignaChat()">
  <noscript>
    <strong>UTAX me   Servicios contables profesionales 2020</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->



  <!-- Start of LiveChat (www.livechatinc.com) code -->
  <!-- <script type="text/javascript">
  window.__lc = window.__lc || {};
  window.__lc.license = 11705895;
  (function() {
    var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
    lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
    
    
    
  })();
</script>
<noscript>
<a href="https://www.livechatinc.com/chat-with/11705895/" rel="nofollow">Chat with us</a>,
powered by <a href="https://www.livechatinc.com/?welcome" rel="noopener nofollow" target="_blank">LiveChat</a>
</noscript> -->
  <!-- End of LiveChat code -->
  <script>
    function reasignaChat() {
      /*
      setTimeout(function(){ 
        document.getElementById("chat-widget-container").style.bottom = "200px";
         }, 1000);*/
    }
  </script>


  
</body>

</html>