<template>
 <div>
    <content-pagar></content-pagar>
  </div>
</template>

<script>
  import ContentPagar from '../components/ContentPagar'

  export default {
    name: 'Registro',

    components: {
      ContentPagar
    },
  }
</script>