<template>
 <div>
    <content-registro></content-registro>
  </div>
</template>

<script>
  import ContentRegistro from '../components/ContentRegistro'

  export default {
    name: 'Registro',

    components: {
      ContentRegistro
    },
  }
</script>