<template >
<div>
  <v-card
    class="mx-auto"
    max-width="1400"
  >
     <v-img class="imgDiv portada white lighten-2" style="height:600px;"
      src="https://utaxon.com/img/home1.png"
      lazy-src="https://picsum.photos/id/11/100/60"
      aspect-ratio="1"
      >
      <div style="display:center!important;margin-top:200px;font-family: 'Arial', Times, serif;font-weight:bold;font-size:46px;color:white;text-align:center">Abre la puerta a la contabilidad inteligente</div>
    </v-img>   
  </v-card>




<v-dialog v-model="dialogoRegistro" persistent max-width="450px" >
     
      <v-card>
        <v-card-title>
          
        </v-card-title>
        <span  style="position:absolute;text-align:center;color:#227aff;font-family: 'Arial', Times, serif;font-size:26px;width:100%;font-weight:bold;">Pagar</span>
        <v-card-text>


          <v-form  style="max-width:400px;margin-top:25px" ref="form" v-model="valid" :lazy-validation="lazy">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field  style="border-radius: 8px;"
                label="Nombre completo" 
                v-model="nombre"
                maxlength="70"
                hint="Nombre y apellidos como aparecen en su identificación"
                clearable filled    :rules="rulesNombre" hide-details="auto"
                background-color="#f0f8ff"
                 ></v-text-field>

                  <v-text-field  style="margin-top:8px;border-radius: 8px;" 
                label="Correo electrónico" 
                v-model="correo"
                maxlength="60"
                hint="correo@domain.com"
                 clearable filled  dense :rules="rulesCorreo" hide-details="auto"
                background-color="#f0f8ff"
                 ></v-text-field>

                  <v-text-field  style="margin-top:8px;border-radius: 8px;" 
                label="Celular" 
                v-model="telefono"
                 v-mask="'(##) #### ####'"
                hint="Ingresa tú teléfono"
                 clearable filled  dense :rules="rulesTelefono" hide-details="auto"
                background-color="#f0f8ff"
                 ></v-text-field>

                

                 <v-text-field  style="margin-top:8px;border-radius: 8px;" 
                label="Contraseña" 
                :type="show1 ? 'text' : 'password'"
                v-model="contrasenia"
                maxlength="12"
                hint="Ingrese su contraseña"
                 clearable filled  dense :rules="rulesContrasenia" hide-details="auto"
                background-color="#f0f8ff"
                 ></v-text-field>

              </v-col>


              <v-col cols="12">
                <v-checkbox
                  v-model="terminos"
                  color="green"
                  required
                  :rules="rulesTerminos"
                  @click="checkboxmethod">
                   <template v-slot:label>
                    <div>
                      <a href="#" @click="terminosUrl">Terminos y condiciones de privacidad</a>
                    </div>
                  </template> 
                </v-checkbox>


             
              </v-col>
              <!-- <div > -->
           <router-link :to="{name: 'registro'}" style="width: 100%;text-align: center;">
            <v-btn rounded 
            class="mr-4"
            color="red" 
            style="width:150px;font-size:22px;margin-top:20px;color:white;text-transform: capitalize;display: inline-block;" 
            :disabled="!valid"
            @click="registrar"
            >Aceptar</v-btn>
          </router-link>
          <!-- </div> -->
            </v-row>
          </v-container>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>



    <v-dialog v-model="dialogoConfirmaCorreo" persistent max-width="450px" >
     
      <v-card>
        <v-card-title>
          <span class="headline" style="color:#227aff;font-family: 'Arial', Times, serif;font-size:36px;font-weight:bold;">Gracias por registrarte en Utax Me</span>
        <span  style="font-size:20px;margin-top:10px;word-break: break-word;line-height: 1.5rem;">Por favor confirma tu correo electónico</span>
        </v-card-title>
        <v-card-text>
          <v-form  style="" ref="form" v-model="valid" :lazy-validation="lazy">
          <v-container>
            <v-row>
          <div style="width:100%;text-align:center;">
           <v-icon color="green" style="font-size:44px">mail</v-icon>
          </div>
           <router-link :to="{name: 'home'}" style="width: 100%;text-align: center;">
            <v-btn rounded 
            color="red" 
            style="width:150px;font-size:22px;margin-top:20px;color:white;text-transform: capitalize;display: inline-block;" 
            :disabled="!valid"
            @click=""
            >Aceptar</v-btn>
          </router-link>
            </v-row>
          </v-container>

          </v-form>
          
        </v-card-text>
        
      </v-card>
    </v-dialog>
</div>





</template>

<script>
import router from '../router';
import { VueMaskDirective   } from 'v-mask'


  export default {
    directives: {
      'mask': 
      VueMaskDirective
    },
    name: 'Registro',

    data: () => ({
      show1: false,
      valid: true,
      lazy: false,
      dialogoRegistro: true,
      dialogoConfirmaCorreo:false,
      nombre:'',
      terminos:false,
       rulesTerminos: [
        value => (value == true) || 'Acepte los terminos y condiciones.',
      ],
      condiciones:false,
      rulesNombre: [
        value => !!value || 'Requerido.',
        value => (value && value.length >= 3) || 'Min 8 caracteres',
      ],
       correo:'',
      rulesCorreo: [
        value => !!value || 'Requerido.',
        value => /.+@.+\..+/.test(value) || 'El correo debe ser válido',
      ],
      telefono:'',
      rulesTelefono: [
        value => !!value || 'Requerido.',
        value => (value && value.length >= 3) || 'El teléfono debe ser de 10 dígitos',
      ],
      nacionalidad:'',
      rulesNacionalidad: [
        value => !!value || 'Requerido.',
        value => (value && value.length >= 3) || 'Min 8 caracteres',
      ],
       contrasenia:'',
      rulesContrasenia: [
        value => !!value || 'Requerido.',
        value => (value && value.length >= 3) || 'Min 8 caracteres',
      ],
       contrasenia2:'',
      rulesContrasenia2: [
        value => !!value || 'Requerido.',
        value => (value && value.length >= 3) || 'Min 8 caracteres',
      ],
    }),
    methods:{
      checkboxmethod(){
        this.terminos=!this.terminos;
      },
      terminosUrl(){
         window.open("https://www.timeinc.net/subs/privacy/termsofservice/pptos.html", "_blank");
      },
      registrar() {
        console.log("click");
        //if (this.$refs.form.registrar()) {
          console.log("valido");
          //this.snackbar = true
          //set data client to store
          this.$store.state.cliente.nombre= this.nombre;
          this.$store.state.cliente.email= this.correo;
          this.$store.state.cliente.password= this.contrasenia;
          this.$store.state.cliente.telefono= this.telefono;

          //sendmail
                let currentObj = this;
                               //https://74.208.27.106:9043/utaxon/admin/register
                this.axios.post('https://74.208.27.106:9043/utaxon/admin/register/', {
                      "aceptaTerminos": true,
                      "email": this.correo.trim(),
                      "nombre": this.nombre,
                      "password": this.contrasenia.trim(),
                      "telefono": this.telefono
                })
                .then(function (response) {
                    console.log(response.data);
                })
                .catch(function (error) {
                    console.log(error);
                });

                //  setTimeout(function(){
                   
                //    //router.p1111111111111111ush('/'); //dev
                //    //router.push('proceso') //prod
                // }, 350);  
                   this.dialogoRegistro=false;
                   this.dialogoConfirmaCorreo=true;  
      }
    }
  }
</script>
<style scoped>

</style>