<template>
  <v-container>
       <v-card flat id="card1"  class=" mx-auto" min-width="280" max-width="400" width="20%" height="600px" 
                style="margin-right: 0px!important;margin-left: 0px!important;">
          <v-card-title class="title font-weight-regular justify-space-between">
            <v-img style="height:50px!important;width:50px!important;transition: width 1s;" contain :src="fiscalesIcono" aspect-ratio="1"></v-img>  
            <span :class="colorTitulo1" style="font-family:'Arial',Times,serif;font-size:20px;font-weight:bold;
                                               width: 100%;text-align: center;">{{ currentTitleBox1 }}</span>
             <!-- <div style="position:absolute;z-index: 1;"></div> -->
          </v-card-title>

          <v-window v-model="stepBox1">
            <v-divider style="width: 85%;margin-left: 15px;text-align: center;position: absolute;"></v-divider>
            <v-window-item :value="1">
              <v-card-text>
               <!-- content -->
                  <v-container style="width:100%;margin-top:-15px;" >
                    <div style="font-family:'Arial',Times,serif;font-size:17px;font-weight:bold;width: 100%;text-align: center;">¿Tienes RFC?</div>
                     <table style="margin-top:10px;text-align: center;font-family:'Arial',Times,serif;font-size:14px;font-weight:bold;width: 100%;">
                      <tr>
                        <td><input style="cursor:pointer" type="radio" id="uno" value="si" v-model="tieneRFC" @click="validaForma1('si')"></td>
                        <td><input style="cursor:pointer" type="radio" id="dos" value="no" v-model="tieneRFC" @click="validaForma1('no')"></td>
                      </tr>
                       <tr>
                          <td><label  for="uno" style="margin-top: -2px;position: absolute;margin-left: -4px;">Si</label></td>
                          <td><label  for="dos" style="margin-top: -2px;position: absolute;margin-left: -4px;">No</label></td>
                      </tr>
                    </table>
                  </v-container>

               <v-divider v-if="tieneRFC=='si'" style="margin-top:25px"></v-divider>
                <v-container v-if="tieneRFC=='si'" style="width:100%;margin-top:30px;">
                  <div style="font-family:'Arial',Times,serif;font-size:17px;font-weight:bold;width: 100%;text-align: center;">Coloca RFC</div>

                    <v-text-field  style="margin-top:8px;border-radius: 8px;" 
                      label="RFC" 
                      v-model="rfc"
                      solo
                      v-mask="'XXXX ###### XXX'"
                      @keyup="setRFC"
                      dense :rules="rulesRFC" 
                      hide-details="auto"
                      :background-color="fondoRFC"
                    ></v-text-field>

                </v-container>
                <v-divider v-if="tieneRFC=='si'"></v-divider>
                <v-container v-if="tieneRFC=='si'" style="width:100%;margin-top:15px;">
                <div style="font-family:'Arial',Times,serif;font-size:17px;font-weight:bold;width: 100%;text-align: center;">¿Tienes FIEL?</div>

                  <table style="margin-top:10px;text-align: center;font-family:'Arial',Times,serif;font-size:14px;font-weight:bold;width: 100%;">
                  <tr>
                    <td>
                      <input style="cursor:pointer" type="radio" id="tres" value="si" @click="validaForma1b('si')" v-model="tieneFIEL">
                      </td>
                      <td>
                          <input style="cursor:pointer" type="radio" id="cuatro" value="no" @click="validaForma1b('no')" v-model="tieneFIEL">
                      </td>
                  </tr>
                    <tr>
                    <td>
                      <label for="tres" style="margin-top: -2px;position: absolute;margin-left: -4px;">Si</label>
                      </td><td>
                          <label for="cuatro" style="margin-top: -2px;position: absolute;margin-left: -4px;">No</label>
                      </td>
                  </tr>
                </table>
              </v-container>
               <!-- content -->
              </v-card-text>
            </v-window-item>

            <v-window-item :value="2">
              <v-card-text>
                <v-text-field
                  label="Password"
                  type="password"
                ></v-text-field>
                <v-text-field
                  label="Confirm Password"
                  type="password"
                ></v-text-field>
                <span class="caption grey--text text--darken-1">
                  Please enter a password for your account
                </span>
              </v-card-text>
            </v-window-item>

            <v-window-item :value="3">
              <div class="pa-4 text-center">
                <v-img
                  class="mb-4"
                  contain
                  height="128"
                  src="https://cdn.vuetifyjs.com/images/logos/v.svg"
                ></v-img>
                <h3 class="title font-weight-light mb-2">Welcome to Vuetify</h3>
                <span class="caption grey--text">Thanks for signing up!</span>
              </div>
            </v-window-item>
          </v-window>

          <v-divider v-if="tieneRFC=='si'"></v-divider>

          <v-card-actions>
           
          </v-card-actions>
        
        
          <v-footer absolute style="background-color:white">
            <!-- acciones -->
            <v-col class="text-center" cols="6">
              <v-btn
                :disabled="stepBox1 === 1"
                color="primary"
                depressed
                v-if="nextEscenario1Back"
                @click="controlStep(1, -1)">Anterior
              </v-btn>
              
            </v-col>
            <v-col class="text-center" cols="6">
              <v-btn
                :disabled="stepBox1 === 3"
                color="primary"
                v-if="nextEscenario1"
                depressed
                @click="controlStep(1,1)"
              >
                Siguiente
              </v-btn>
            </v-col>
            <!-- acciones -->
          </v-footer>
        </v-card>

       
  </v-container>
</template>
<script>

import { VueMaskDirective   } from 'v-mask'

export default {
    directives: {
      'mask': VueMaskDirective
    },
    data: () => ({
        fiscalesIcono:'https://utaxon.com/img/DATOS-FISCALES-GRIS.png',
        colorTitulo1:'tituloGris',
        stepBox1: 1,
        tieneRFC: null,
        nextEscenario1Back:false,
        nextEscenario1:false,
        rfc:'',
      rulesRFC: [
        value => !!value || 'Requerido.',
        value => (value && value.length >= 15) || 'El RFC debe ser de 12 dígitos o 13 dígitos (XXXX 0000 PK5)',
      ],
      fondoRFC:"white",
      tieneFIEL:null,
    }),
    methods:{
      validaForma1(valor){
        if(valor=="si"){
          this.fiscalesIcono='https://utaxon.com/img/DATOS-FISCALES-GRIS.png';
          this.colorTitulo1='tituloGris';
          this.frm1SinRFC=false;
          this.cierraForma2();
        }
        else{
          //no tiene rfc, avanza
          this.fiscalesIcono='https://utaxon.com/img/DATOS-FISCALES.png';
          this.colorTitulo1='tituloAzul';
          this.frm1SinRFC=true;
          this.abreForma2();
        }
      },
       abreForma2(){
        //this.bAbreForma2=true;
        this.$store.state.formas.bAbreForma2= true;
      },
      cierraForma2(){
        //this.bAbreForma2=false;
        this.$store.state.formas.bAbreForma2= true;
      },
      setRFC(){
            this.rfc=this.rfc.toUpperCase();
            this.$store.state.cliente.rfc= this.rfc;
            if(this.rfc.length>=15){
              this.fondoRFC="#f0f8ff";
             // this.validaforma1Completa();
            }
            this.validaforma1Completa();
        },
         validaForma1b(valor){

       this.tieneFIEL=valor;
       
        if(this.rfc.length>=15){
          this.fondoRFC="#f0f8ff";
          this.colorTitulo1='tituloAzul';
          this.fiscalesIcono='https://utaxon.com/img/DATOS-FISCALES.png';
          this.tieneRFC="si";
          
        }else{
          this.fondoRFC="white";
        }
        this.validaforma1Completa();
      },
      
      validaforma1Completa(){
          if(this.tieneRFC=="si" && this.rfc.length>=15 && this.tieneFIEL !=null){
              //this.frm1ConRFC=true;
              this.$store.state.formas.frm1ConRFC= true;
              this.fiscalesIcono='https://utaxon.com/img/DATOS-FISCALES.png';
              this.colorTitulo1='tituloAzul';
              this.abreForma2();
          }else{
            //this.frm1ConRFC=false;
            this.$store.state.formas.frm1ConRFC= false;
            this.fiscalesIcono='https://utaxon.com/img/DATOS-FISCALES-GRIS.png';
            this.colorTitulo1='tituloGris';
            this.cierraForma2();
          }
      },
    },
    computed:{
         currentTitleBox1 () {
        switch (this.stepBox1) {
          case 1: return 'Datos fiscales'
          case 2: return 'Propiedades'
          default: return 'Cotización'
        }
      },
    }
}
</script>