<template>
  <v-container>
       <div style="overflow:visible;height:65vh;position:absolute" id="waves" class="rotating">
        <div style="background-color:#6495ed;" class="wave" id="wave1"></div>
        <div style="background-color:#013872" class="wave" id="wave2"></div>
        <div style="background-color:#013872;opacity:0.3;position: fixed;" class="wave" id="wave3"></div>
        </div>
  </v-container>
</template>

<script>
  export default {
    name: 'Waves',

    data: () => ({
     
    }),
  }
</script>
<style scoped>
/* .wave {
    width: 500vw;
    height: 500vw;
    bottom: 82%!important;
    left: 50%;
    margin-left: -250vw;
    border-radius: 49%;
     background-image: url(https://utaxon.com/img/paper_dark.png); 
    background-attachment: fixed;
} */
</style>
